.container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card1 {
  display: flex;
  justify-content: space-around;
}

.첫번째줄1 {
  width: 370px;
  height: 200px;
  padding: 15px;
  border: solid 3px #c1b8ad;
  border-radius: 15px;
  background-color: #f7f5f1;

  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}
.첫번째줄2 {
  width: 390px;
  height: 200px;
  padding: 15px;
  border: solid 3px #c1b8ad;
  border-radius: 15px;
  background-color: #f7f5f1;

  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}
.제목 {
  font-size: 25px;
  font-weight: 900;
  color: #4d4637;
}
.iconContainer {
  display: flex;
  justify-content: space-around;
  height: 100px;
  margin: 0 40px;

  font-size: 25px;
  font-weight: 900;
  color: #4d4637;
}
.infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
}
.refundBtn {
  width: 250px;
  background-color: #4d4637;
  color: #ffffff;
  border-radius: 15px;
  text-align: center;
  padding: 8px 0;
}
.refundContainer {
  margin: 0 auto;
}

.card2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.두번째줄 {
  display: flex;
  justify-content: space-around;
  width: 850px;
  height: 100px;
  border: solid 3px #c1b8ad;
  border-radius: 10px;
  background-color: #f7f5f1;

  font-size: 20px;
  text-align: center;
}
.세번째줄 {
  width: 850px;
  border: solid 3px #c1b8ad;
  border-radius: 10px;
  background-color: #f7f5f1;
  padding: 20px 0;
  font-size: 20px;
  text-align: center;
}
